<%= form_for user, html:{ class: 'form-signin'} do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="h3 mb-3 text-center">Sign Up</h1>
  <div class ="form-group">
    <%= f.label :username, 'Username: ', class:"sr-only" %>
    <%= f.text_field :username, class:"form-control", placeholder: "Username", required: true %>
  </div>
  <div class ="form-group">
    <%= f.label :password, 'Username: ', class:"sr-only" %>
    <%= f.text_field :password, class:"form-control", placeholder: "Password", required: true %>
  </div>
  <%= f.submit 'Sign Up',class: "btn btn-lg btn-primary btn-block" %>
<% end %>
Already sign up? <%= link_to "login", new_session_path %>
